body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;

    margin-top: 80px; /* Adds space below the fixed header to prevent overlap */
}

/* Layout for the header */
header {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content */
    background-color: #f4f4f4;
    border-bottom: 1px solid #555555;
    margin-bottom: 10px;
    position: fixed; /* Fixes the header to the top */
    top: 0; /* Aligns the header to the top of the viewport */
    left: 0; /* Ensures it starts from the left edge */
    width: 100%; /* Makes sure the header takes the full width of the page */
    z-index: 1000; /* Ensures the header stays on top of other content */
}



#title {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Ensure it spans the full width */
    align-items: center; /* Vertically align */
    padding: 0 20px; /* Adds some horizontal padding */
}

h1 {
    flex-grow: 1; /* Allow the h1 to grow and take available space */
    text-align: center; /* Center the h1 */
    margin:0;
}

#load {
    display: flex;
    gap: 10px; /* Space between input and button */
    margin-left: auto; /* Align to the right */
    margin-right:30px;
}

#filters {
    width: 100%; /* Ensure filters section spans full width */
    display: flex; /* Enable flexbox */
    justify-content: center; /* Centers the content horizontally */
    gap: 10px; /* Space between the filter elements */
    align-items: center; /* Vertically align the filter elements */
    padding: 5px;
}

.filter {
    border: 1px solid #ccc;
    background: rgba(244, 244, 244, 0.5);
    padding: 5px;
    border-radius: 8px;
    user-select: none;
}

.filter-item input[type="checkbox"] {
    display: none;
}

.filter-item span {
    padding: 4px 8px;
    margin: 5px;
    border-radius: 4px;
    color: #000000;
}
.filter-item input[type="checkbox"]:checked + * {
    background-color: #aaaaaa;
}


#timeline {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}

svg {
    width: 100%;
}


#tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
}
.tooltip {
    position: absolute;
    background: #333;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 12px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
}


.year-line {
    stroke: #000;
    stroke-dasharray: 5, 5;
}
.year-label {
    font-size: 12px;
    text-anchor: middle;
}

.bar {
    fill-opacity: 0.8;
    fill: #dddddd;
}

.group-odd, .group-even {stroke: #000000; stroke-width:1;fill-opacity: 0.5;  }
.group-odd { fill: #000000;}
.group-even { fill: #ffffff;}







